

/* mobile responsive */

@media screen and (max-width: 576px){
 
    .header_left{
        display: flex;
        width: 80%;
        justify-content: space-between;
    }
    .bars_icon{
        display: block;
    }
    .brand h2{
        font-size: 18px;
       
      
    }
   .menu_items{
    display: none;
   } 

}
